<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/images/favicon.png"/>


</head>
<body>
<!-- partial:partials/_navbar.html -->
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand brand-logo" href="admin_index.html"><img src="/images/logo.svg" alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="admin_index.html"><img src="/images/logo-mini.svg"
                                                                                 alt="logo"/></a>
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-sort-variant"></span>
            </button>
        </div>
    </div>

    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">

        <!--        搜索栏-->
        <ul class="navbar-nav mr-lg-4 w-100">
            <text style="font-size: 25px;margin-left: 20%;color: #4994c4">The best preparation for tomorrow is doing
                your best today
            </text>
        </ul>

        <!--        通知-->
        <ul class="navbar-nav navbar-nav-right">

            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
                    <img src="/images/faces/admin.png " alt="profile"/>
                    <span class="nav-profile-name">Admin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item">
                        <i class="mdi mdi-settings text-primary"></i>
                        设置
                    </a>
                    <a class="dropdown-item">
                        <i class="mdi mdi-logout text-primary"></i>
                        登出
                    </a>
                </div>
            </li>
        </ul>

        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>


<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <!-- 左侧树形导航栏 -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#notice_manage" aria-expanded="false"
                   aria-controls="ui-basic">
                    <i class="mdi mdi-message-text menu-icon"></i>
                    <span class="menu-title">通知管理</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="notice_manage">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link"
                                                href="http://localhost:8881/self_study_room/admin/notice">通知列表</a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="http://localhost:8881/self_study_room/admin/notice_publish">发布通知</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8881/self_study_room/admin/room_list">
                    <i class="mdi  mdi-book-open-page-variant menu-icon"></i>
                    <span class="menu-title">自习室管理</span>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8881/self_study_room/admin/user_list">
                    <i class="mdi mdi-message-text menu-icon"></i>
                    <span class="menu-title">用户管理</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#forum_manage" aria-expanded="false"
                   aria-controls="ui-basic">
                    <i class="mdi mdi-forum menu-icon"></i>
                    <span class="menu-title">论坛管理</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="forum_manage">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link"
                                                href="http://localhost:8881/self_study_room/admin/forum">论坛中心</a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                                href="http://localhost:8881/self_study_room/admin/post_publish">发表帖子</a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </nav>


    <!--用户列表    -->
    <div class="main-panel">

        <div class="content-wrapper">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">用户列表</h1>
                    <div class="table-responsive">
                        <table id="recent-purchases-listing" class="table">
                            <thead>
                            <tr class="table-success">
                                <th>用户id</th>
                                <th>用户名</th>
                                <th>密码</th>
                                <th>手机号</th>
                                <th>性别</th>
                                <th data-sortable="false">管理</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user, status : ${search_result}">
                                <td th:text="${user.user_id}"></td>
                                <td th:text="${user.user_name}"></td>
                                <td th:text="${user.password}"></td>
                                <td th:text="${user.phone_number} ?: 'null'"></td>
                                <td th:text="${user.sex} ?: 'null'"></td>
                                <td>
                                    <button class="btn btn-warning btn-rounded btn-fw"
                                            data-toggle="modal" th:data-target="'#modal-' + ${status.index}">修改
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
        <!-- content-wrapper ends -->


        <!--修改用户信息的模态框    -->
        <!--点击删除，二次确认-->
        <div th:each="user, status : ${search_result}">
            <div class="modal fade" th:id="'modal-' + ${status.index}">
                <div class="modal-dialog">
                    <form method="post" class="forms-sample" action="http://localhost:8881/self_study_room/admin/user_list"
                          onsubmit="return prepareFormData(this)">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>修改用户数据</h3>
                                <button class="btn btn-outline-secondary btn-rounded btn-icon" data-dismiss="modal">
                                    <i class="mdi mdi-close"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="user_id">用户id</label>
                                    <input type="text" class="form-control" id="user_id"
                                           th:attr="placeholder=${user.user_id}" th:disabled="true" name="user_id">
                                    <input type="hidden" th:value="${user.user_id}" name="user_id">
                                </div>
                                <div class="form-group">
                                    <label for="user_name">用户名</label>
                                    <input type="text" class="form-control" id="user_name"
                                           th:attr="placeholder=${user.user_name}" name="user_name">
                                    <input type="hidden" th:value="${user.user_name}" name="user_name_hidden">
                                </div>
                                <div class="form-group">
                                    <label for="password">用户密码</label>
                                    <input type="text" class="form-control" id="password"
                                           th:attr="placeholder=${user.password}" name="password" >
                                    <input type="hidden" th:value="${user.password}" name="password_hidden">
                                </div>
                                <div class="form-group">
                                    <label for="phone_number">电话号码</label>
                                    <input type="text" class="form-control" id="phone_number"
                                           th:attr="placeholder=${user.phone_number} ? ${user.phone_number} : 'null'" name="phone_number">
                                    <input type="hidden" th:value="${user.phone_number}" name="phone_number_hidden">
                                </div>
                                <div class="form-group">
                                    <label for="sex">性别</label>
                                    <input type="text" class="form-control" id="sex"
                                           th:attr="placeholder=${user.sex}" th:disabled="true" name="sex">
                                    <input type="hidden" th:value="${user.sex}" name="sex">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-light" data-dismiss="modal">取消</button>
                                <button class="btn btn-danger" type="submit"
                                        name="choice" value="delete">删除用户</button>
                                <button class="btn btn-warning" type="submit"
                                        name="choice" value="modify">修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <!-- main-panel ends -->
</div>


<!--检查模态框中提交的数据是否被修改-->
<!--如果管理员不修改，则默认提交原来的数据，如果修改，则提交新数据-->
<script>
    function prepareFormData(form) {
        // 遍历表单中的每个 input 元素
        for (var i = 0; i < form.elements.length; i++) {
            var input = form.elements[i];

            // 如果 input 的值为空，且有 placeholder 属性，则将 placeholder 的值作为该 input 的值
            if (!input.value && input.hasAttribute('placeholder')) {
                input.value = input.getAttribute('placeholder');
            }
        }

        return true; // 继续提交表单
    }
</script>

<!-- plugins:js -->
<script src="/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="/vendors/chart.js/Chart.min.js"></script>
<script src="/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/js/off-canvas.js"></script>
<script src="/js/hoverable-collapse.js"></script>
<script src="/js/template.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/js/dashboard.js"></script>
<script src="/js/data-table.js"></script>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.bootstrap4.js"></script>

<!-- 引入 jQuery -->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!-- 引入 Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<!-- 引入 Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- End custom js for this page-->


<script src="/js/jquery.cookie.js" type="text/javascript"></script>
</body>
</html>