<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#notice_manage" aria-expanded="false" aria-controls="ui-basic">
        <i class="mdi mdi-message-text menu-icon"></i>
        <span class="menu-title">通知管理</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="notice_manage">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="http://localhost:8881/self_study_room/admin/notice">通知列表</a></li>
          <li class="nav-item"> <a class="nav-link" href=http://localhost:8881/self_study_room/admin/notice/publish>发布通知</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="mdi  mdi-book-open-page-variant menu-icon"></i>
        <span class="menu-title">自习室管理</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="mdi mdi-account menu-icon"></i>
        <span class="menu-title">用户管理</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#forum_manage" aria-expanded="false" aria-controls="ui-basic">
        <i class="mdi mdi-forum menu-icon"></i>
        <span class="menu-title">论坛管理</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="forum_manage">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="#">论坛中心</a></li>
          <li class="nav-item"> <a class="nav-link" href="#">发表帖子</a></li>
        </ul>
      </div>
    </li>

  </ul>
</nav>