<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/images/favicon.png" />
    <style>
        body{
            margin: 1px;
            border: 2px;
        }
        .container{
            background-color: #FFFFCC;
            border: 1px solid black;
            height: 180px;
            width: 80%;

        }
        .title{
            background-color: #CCFFFF;
            display: inline-block;
            margin-left: 25%;
            font-size: 28px;
            text-align: center;
            width: 20%;

        }
        .Content{
            background: #FFCCCC;
            font-size: 20px;

            width: 100%;
            height: 65%;
        }
        .times{
            float: left;
        }

        ul li {
            list-style-type: none;

        }
        #main_body{
            height: 700px;
            /*background-color: #5E50F9;*/
        }

        .round-button {
            width: 30px;
            height: 30px;
            border-radius: 10px; /* 设置圆角矩形的圆角半径 */
            background-color: #ffffff; /* 设置白色背景 */
            border: 1px solid #ccc6c6; /* 设置浅黑色边框 */
            color: #000000; /* 设置文字颜色 */
            transition: background-color 0.1s; /* 设置鼠标悬停时的过渡效果 */
            margin-left: 2px;
        }
        .round-button:hover {
            background-color: #e0dbdb; /* 鼠标悬停时背景颜色变为灰色 */
        }

    </style>

</head>
<body>
<!-- partial:partials/_navbar.html -->
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand brand-logo" href="user_index.html"><img src="/images/logo.svg" alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="user_index.html"><img src="/images/logo-mini.svg" alt="logo"/></a>
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-sort-variant"></span>
            </button>
        </div>
    </div>

    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end"     >

        <!--        搜索栏-->
        <ul class="navbar-nav mr-lg-4 w-100" >
            <text style="font-size: 25px;margin-left: 20%;color: #4994c4">The best preparation for tomorrow is doing your best today</text>
        </ul>

        <!--        通知-->
        <ul class="navbar-nav navbar-nav-right">

            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
                    <img src="/images/faces/admin.png " alt="profile"/>
                    <span class="nav-profile-name">Users</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item">
                        <i class="mdi mdi-settings text-primary"></i>
                        设置
                    </a>
                    <a class="dropdown-item">
                        <i class="mdi mdi-logout text-primary"></i>
                        登出
                    </a>
                </div>
            </li>
        </ul>

        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>
<!-- 左侧树形导航栏 -->
<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8881/self_study_room/user/notice">
                    <i class="mdi mdi-message-text menu-icon"></i>
                    <span class="menu-title">通知</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8881/self_study_room/user/self_study_roompage">
                    <i class="mdi  mdi-book-open-page-variant menu-icon"></i>
                    <span class="menu-title">自习室选择</span>
                </a>
            </li>

            <li class="nav-item">

                <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-forum menu-icon"></i>
                    <span class="menu-title">论坛</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">

                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="http://localhost:8881/self_study_room/user/forum">论坛中心</a></li>
                        <li class="nav-item"> <a class="nav-link"  href="http://localhost:8881/self_study_room/user/post_publish">发表帖子</a></li>
                    </ul>

                </div>

            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                    <i class="mdi mdi-account menu-icon"></i>
                    <span class="menu-title">个人中心</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="auth">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="http://localhost:8881/self_study_room/user/reseration?page_number=1"> 预约订单 </a></li>
                        <li class="nav-item"> <a class="nav-link" href="http://localhost:8881/self_study_room/user/changepassword"> 修改密码</a></li>
                        <li class="nav-item"> <a class="nav-link" href="http://localhost:8881/self_study_room/user/favorite"> 收藏座位 </a></li>
                        <!--                        <li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> Lockscreen </a></li>-->
                    </ul>
                </div>
            </li>
        </ul>
    </nav>



    <div class="main-panel">



        <div hidden="hidden" id="overtimeList">
            <ul   th:each="overtime:${overtime}" >
                <li  th:text="${overtime}"></li>
            </ul>
        </div>








        <form id="dataForm" action="/self_study_room/user/save"  >
            <input type="hidden" name="room_id" value="" />
            <input type="hidden" name="seat_number" value="" />
            <input type="hidden" name="reserve_time" value="" />
        </form>

        <form id="dataformdelete" action="/self_study_room/user/deletes"  >

            <input type="hidden" id="room_idDe" name="room_idDe" value="" />
            <input type="hidden" id="seat_numberDe" name="seat_numberDe" value="" />
        </form>
        <div class="content-wrapper" id="main_content">
            <div class="card">
                <div class="card-body"  style="height: 80%">
                    <h1 class="card-title">预约列表</h1>
                    <div class="table-responsive" id="main_body">
                        <table id="recent-purchases-listing" class="table">
                            <thead>
                            <tr class="table-success">

                                <th>预约教室</th>
                                <th>预约座位</th>
                                <th>预约时间</th>
                                <th data-sortable="false">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="reservation, status : ${search_result}" >
                                <td th:text="${reservation.getRoom_id()}"></td>
                                <td th:text="${reservation.getSeat_number()}"></td>
                                <td th:text="${#dates.format(reservation.getReserve_time(), 'yyyy-MM-dd HH:mm:ss')}"></td>

                                <td style="width: 100px">
                                    <div class="template-demo mt-2" style="text-align: center;margin-bottom: 15px">
                                        <button type="button" class="btn btn-outline-success btn-icon-text" style="height: 50px" onclick="collectData(this)">
                                            <i class="mdi mdi-heart"></i>
                                            收藏
                                        </button>


                                        <button type="button" class="btn btn-danger btn-icon-text" style="height: 50px" onclick="deleteReservation(this)">
                                            <i class="mdi mdi-delete"></i>
                                            删除
                                        </button>

                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <form id="turn_page" action="http://localhost:8881/self_study_room/user/reseration" method="get">
                    <input type="hidden" id="page_number" name="page_number"/>
                    <div id="pageBtn" style="text-align: center;">
                        <button th:each="i : ${#numbers.sequence(1, page_size)}"
                                th:value="${i}"
                                th:class="'round-button'"
                                th:text="${i}"
                                onclick="paging_turn(this)"
                                type="button"></button>
                    </div>
                </form>
            </div>


        </div>
        <!-- content-wrapper ends -->


    </div>



</div>
<script>
    // 换页
    function paging_turn(input){
        document.getElementById("page_number").value=input.value;
        document.getElementById("turn_page").submit();
    }

    var overtimeseat = [];
    var ulElement = document.getElementById("overtimeList");
    var liElements = Array.from(ulElement.getElementsByTagName("li"));

    liElements.forEach(function(li) {
        overtimeseat.push(li.textContent);
    });

    console.log(overtimeseat);



    function collectData(button) {
        // 获取所在行的数据
        var row = button.closest('tr');
        var room_id = row.querySelector('td:nth-child(1)').innerText;
        var seat_number = row.querySelector('td:nth-child(2)').innerText;
        var reserve_time = row.querySelector('td:nth-child(3)').innerText;

        // 使用获取到的数据进行其他操作，比如发送到后端或者展示在页面上等
        console.log("Room ID: " + room_id);
        console.log("Seat Number: " + seat_number);
        console.log("Reserve Time: " + reserve_time);

        var form = document.getElementById('dataForm');
        form.querySelector('input[name="room_id"]').value = room_id;
        form.querySelector('input[name="seat_number"]').value = seat_number;
        form.querySelector('input[name="reserve_time"]').value = reserve_time;
        Swal.fire({
            title: '提示',
            text: '收藏成功'    ,
            icon: 'success',
            showConfirmButton: false
        });


        // 提交表单
        // form.submit();
        setTimeout(function() {
            form.submit();
        }, 2000);
    }

    function deleteReservation(button) {
        var row = button.closest('tr'); // 获取当前行
        var room_idDe = row.querySelector('td:nth-child(1)').textContent.trim(); // 获取预约教室
        var seat_numberDe = row.querySelector('td:nth-child(2)').textContent.trim(); // 获取预约座位

        // 将数据存储在隐藏的 input 元素中

        var form = document.getElementById('dataformdelete');

        document.getElementById('room_idDe').value = room_idDe;

        document.getElementById('seat_numberDe').value = seat_numberDe;
        Swal.fire({
            title: '提示',
            text: '删除成功'    ,
            icon: 'success',
            showConfirmButton: false
        });
        setTimeout(function() {
            document.getElementById('dataformdelete').submit();
        }, 2000);

    }


    var table = document.getElementById("recent-purchases-listing");

    // 遍历表格中的每一行
    for (var i = 0, row; row = table.rows[i]; i++) {
        // 在这里执行你想要对每一行进行的操作
        // 例如，获取每一行的单元格内容
        var roomID = row.cells[0].textContent;
        var seatNumber = row.cells[1].textContent;
        var reserveTime = row.cells[2].textContent;

        // 创建日期对象

        for(var j = 0;j < liElements.length; j ++){

            var datas =  liElements[j].textContent;

            if (datas === seatNumber) {

                row.style.backgroundColor = "lightblue";
            }
        }


        // 输出每一行的内容
        console.log("Room ID: " + roomID + ", Seat Number: " + seatNumber + ", Reserve Time: " + reserveTime);
    }

</script>

<!-- plugins:js -->
<script src="/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="/vendors/chart.js/Chart.min.js"></script>
<script src="/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/js/off-canvas.js"></script>
<script src="/js/hoverable-collapse.js"></script>
<script src="/js/template.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/js/dashboard.js"></script>
<script src="/js/data-table.js"></script>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.bootstrap4.js"></script>
<!-- End custom js for this page-->

<script src="/js/jquery.cookie.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>